@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

.App {
    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(168,38,84,1) 0%, rgba(253,140,105,1) 100%);
    min-height: 100vh;
    padding-top: 2rem;
}
.container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    color: black;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 1rem;

}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top {
    padding-bottom: 1rem;
    color: #a82654;
}
.bottom {
    padding-bottom: 1rem;
}
.input {
    border: none;
    color: white;
    background-color: #a82654;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 20px;
}
input:focus{
    outline: none;
}
::placeholder {
    color: white;
}
.btn {
    border: none;
    padding: 1rem;
    border-radius: 20px;
    background-color: #a82654;
    color: white;
}
.list {
    color: white;
    margin: 1rem;
    padding: 1rem;
    overflow-wrap: break-word;
    justify-content: space-between;
    align-items: center;
    background-color: #a82654;
    border-radius: 20px;
}
.active {
    background-color: gray;
    color: white;
    margin: 1rem;
    padding: 1rem;
    overflow-wrap: break-word;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.title {
    margin-bottom: 1rem;
}
